header {
    padding: 0rem 1rem;

    h1 {
        text-align: center;
        font-size: 6rem;
        line-height: 0.82;
        padding: 3rem 0rem 1rem 0rem;

        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
            &:visited {
                color: black;
            }
        }
    }
}
