nav {
    > a {
        display: block;
        color: white;
        padding: 1rem 1rem 2rem 1rem;
        text-align: center;
        color: #557;
        text-decoration: underline;
        font-weight: bold;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }

    ul {
        width: 100%;
        max-height: 0px;
        overflow: hidden;
    }
}
