<footer>
    <a href="https://www.fightforthefuture.org"><img src="images/fftf_logo.png" width="300" height="38"></a>
    <a href="https://www.eff.org/"><img src="images/eff_logo.png" width="102" height="70"></a>
    <a href="http://www.cwa-union.org/"><img src="images/cwa_logo.png" width="135" height="70"></a>
    <p>
        For press inquiries please contact us at <a href="tel://19788526457">978-852-6457</a> or <a href="mailto:press@fightforthefuture.org">press@fightforthefuture.org</a>.
        <br/>
        This project is <a href="https://github.com/fightforthefuture/readthetpp">open source</a> and released into the <a href="http://unlicense.org/">Public Domain</a>.
    </p>
</footer>
