{% capture title %}{% if page.title %}{{ page.title }} |{% endif %}{{ site.name }}{% endcapture %}
{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
{% capture sharetitle %}{% if site.sharetitle %}{{ site.sharetitle }}{% else %}{% if page.sharetitle %}{{ page.sharetitle }}{% else %}{{ title }}{% endif %}{% endif %}{% endcapture %}
{% capture twittertext %}{% if site.twittertext %}{{ site.twittertext }}{% else %}{% if page.twittertext %}{{ page.twittertext }}{% else %}{{ sharetitle }}{% endif %}{% endif %}{% endcapture %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

<!-- *** social meta *** -->
<!-- facebook -->
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}/image.png" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="500" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:determiner" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:title" content="{{ sharetitle }}" />
<meta property="og:description" content="{{ description }}" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.author.twitter }}">
<meta name="twitter:title" content="{{ sharetitle }}">
<meta name="twitter:description" content="{{ description }}"/>
<meta name="twitter:image:src" content="{{ site.url }}/image.png">
<meta name="twitter:domain" content="{{ site.url | remove:'http://' | remove:'https://' }}">
<meta name="twitter:account_id" content="{{ site.author.twitterid }}" />
<meta name="twittertext" content="{{ twittertext }}" />

<!-- google+ -->
<meta itemprop="name" content="{{ sharetitle }}">
<meta itemprop="description" content="{{ description }}">
<meta itemprop="image" content="{{ site.url }}/image.png">
<!-- /*** social meta *** -->

<link rel="publisher" href="https://plus.google.com/{{ site.author.googleid }}">

<link rel="shortcut icon" href="/images/favicon.ico">

<link rel="author" content="humans.txt" />
<link rel="stylesheet" href="{{ pathlead }}css/core.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700" rel="stylesheet" type="text/css">
