<nav>
    <a href="#">Chapters &#9658;</a>
    <ul>
        <li><a href="preamble.html">Preamble</a></li>
        <li><a href="ch01.html">Chapter 1: Initial Provisions and General Definitions</a></li>
        <li><a href="ch02.html">Chapter 2: National Treatment and Market Access for Goods</a></li>
        <li><a href="ch03.html">Chapter 3: Rules of Origin and Origin Procedures</a></li>
        <li><a href="ch04.html">Chapter 4: Textiles and Apparel</a></li>
        <li><a href="ch05.html">Chapter 5: Customs Administration and Trade Facilitation</a></li>
        <li><a href="ch06.html">Chapter 6: Trade Remedies</a></li>
        <li><a href="ch07.html">Chapter 7: Sanitary and Phytosanitary Measures</a></li>
        <li><a href="ch08.html">Chapter 8: Technical Barriers to Trade</a></li>
        <li><a href="ch09.html">Chapter 9: Investment</a></li>
        <li><a href="ch10.html">Chapter 10: Cross-Border Trade in Services</a></li>
        <li><a href="ch11.html">Chapter 11: Financial Services</a></li>
        <li><a href="ch12.html">Chapter 12: Temporary Entry for Business Persons</a></li>
        <li><a href="ch13.html">Chapter 13: Telecommunications</a></li>
        <li><a href="ch14.html">Chapter 14: Electronic Commerce</a></li>
        <li><a href="ch15.html">Chapter 15: Government Procurement</a></li>
        <li><a href="ch16.html">Chapter 16: Competition</a></li>
        <li><a href="ch17.html">Chapter 17: State-Owned Enterprises and Designated Monopolies</a></li>
        <li><strong><a href="ch18.html">Chapter 18: Intellectual Property</a></strong></li>
        <li><strong><a href="ch19.html">Chapter 19: Labour</a></strong></li>
        <li><strong><a href="ch20.html">Chapter 20: Environment</a></strong></li>
        <li><a href="ch21.html">Chapter 21: Cooperation and Capacity Building</a></li>
        <li><a href="ch22.html">Chapter 22: Competitiveness and Business Facilitation</a></li>
        <li><a href="ch23.html">Chapter 23: Development</a></li>
        <li><a href="ch24.html">Chapter 24: Small and Medium-sized Businesses</a></li>
        <li><a href="ch25.html">Chapter 25: Regulatory Coherence</a></li>
        <li><a href="ch26.html">Chapter 26: Transparency and Anti-Corruption</a></li>
        <li><a href="ch27.html">Chapter 27: Administrative and Institutional Provisions</a></li>
        <li><strong><a href="ch28.html">Chapter 28: Dispute Settlement</a></strong></li>
        <li><a href="ch29.html">Chapter 29: Exceptions</a></li>
        <li><a href="ch30.html">Chapter 30: Final Provisions</a></li>
    </ul>
    <p>
        (click <em>highlighted</em> sections to read annotations.
        <a href="javascript:displayAnnotations();">View all annotations</a>)

    </p>
</nav>
